# Exemplo de config
POSTGRES_DB=kommunity
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

POSTGRES_HOST=postgres

SPRING_PROFILES_ACTIVE=dev 

#OBS: Com essa config, voce executara o postgres em um container do docker e rodara o spring separadamente usando maven,
# Para rodar o spring junto com o postgres no docker, mudar ultima linha para =prod e renomear arquivo para .env